<div class="sidebar-module"> <!-- sidebar-module-inset">-->
  <h4>Integrantes UPRA Análisis</h4>

  <ul>
  <li> <i> <small> <a href=""> Luz Mery Gómez Contreras </a>  </small> </i> </li>
  <li> <i> <small> <a href=""> Angela Nieto Gómez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Fernando Castillo Jiménez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Carlos Javier Delgado Gonzáles </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Antonio Moyano Merchan </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Nancy Milena Alarcon </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Edward Alejandro Moreno </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jaime Andres Unriza </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Yadira Rodríguez Sabogal </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Javier Andrés Tamayo Peña </a> </small> </i> </li>
  <li> <i> <small> <a href=""> David Leonardo Cifuentes López </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Carlos Andres Ruiz Urueña </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Edwin Enrique Martínez Camero </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jeny Alejandra Castrillón Arboleda </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Carlos Mario Cano Campillo </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Elsa Mireya Gómez Gómez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jeimmy Lizeth Rodríguez Moreno </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jhon Alexander Guzmán Manrique </a> </small> </i> </li>
</ul>

</div>
