<div class="sidebar-module"> <!-- sidebar-module-inset">-->
  <h4>Integrantes UPRA Análisis</h4>

  <ul>
  <li> <i> <small> <a href=""> Luz Mery Gomez  </a>  </small> </i> </li>
  <li> <i> <small> <a href=""> Angela Nieto Gomez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Fernando Castillo Jimenez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Carlos Javier Delgado </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Antonio Moyano Merchan </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Nancy Milena Alarcon </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Edward Alejandro Moreno </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jaime Andres Unriza </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Yarida Rodriguez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Javier Tamayo </a> </small> </i> </li>
  <li> <i> <small> <a href=""> David Leonardo Cifuentes </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Carlos Andres Ruiz </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jose Alberto Lozano </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Wilmar Fernando Pineda </a> </small> </i> </li>
  <li> <i> <small> <a href="https://github.com/UpraAnalisis/UpraAnalisis.github.io/wiki/Carlos-Mario-Cano"> Carlos Mario Cano Campillo </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Elsa Mireya Gomez </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jeimmy Lizeth Rodriguez Moreno </a> </small> </i> </li>
  <li> <i> <small> <a href=""> Jhon Aalexander Guzman Manrique </a> </small> </i> </li>
</ul>

</div>
